<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Songs</title>
  </head>
  <body>
    <h1><%= @song.name %></h1>
    <h2>Song Artist:</h2>
    <p><a href="/artists/<%=@song_artist.slug%>"><%= @song_artist.name %></a></p>
    <h2>Song Genres:</h2>
    <ul>
      <%@song_genres.each do|g| %>
        <li><a href="/genres/<%=g.slug%>"><%= g.name %></a></li>
        <% end %>
    </ul>
  </body>
</html>
